.dashboard_container {
  height: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.chart_container {
  width: 40%;
  min-width: 390px;
  margin: 50px 0px 30px 0px;
}
